/* Tailwind CSS */
@tailwind preflight;
@tailwind components;
@tailwind utilities;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body {
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
}

label {
  @apply font-semibold;
}

button, [type="button"], [type="reset"], [type="submit"] {
  border-radius: 4px;
}

a {
  @apply text-green-dark no-underline
}

a:hover {
  @apply text-green-darker underline
}

h1 {
  @apply text-2xl
}

h2 {
  @apply text-lg font-semibold
}

header {
  a {
    @apply text-white no-underline
  }
  .top-bar a {
    @apply no-underline text-grey-darkest font-semibold px-3 block py-2 mx-1;
    border-left: 1px solid config('colors.grey');
    border-right: 1px solid config('colors.grey');

    &:hover {
      @apply underline;
    }
  }

  .header-main {
    background-image: radial-gradient(circle at 50% 55%, config('colors.green-dark'), config('colors.green-darker'));
  }

  .search-input {
    @apply appearance-none rounded-full w-full py-4 px-4 tracking-tight text-grey-darker text-sm outline-none
  }

  .button-main-menu {
    @apply py-4 w-full bg-green text-center font-semibold mb-px flex items-center justify-center;

    i {
      @apply mr-3;
    }
    &:last-child {
      @apply mb-0;
    }
    &:hover {
      @apply no-underline text-white;
    }
  }

  @screen md {
    .button-main-menu {
      @apply bg-transparent
    }
    .button-main-menu:hover {
      @apply bg-green
    }
  }

  //@screen md {
  //  .search-input {
  //    @apply text-sm
  //    }
  //}
}

.container {
  @apply mx-auto
}

.categories {
  @apply flex flex-col mt-5 bg-green-darker;

  a {
    @apply py-4 w-full bg-green text-center font-semibold mb-px text-white
  }

  a:hover {
    @apply bg-green-dark underline
  }
}

@screen md {
  .categories {
    @apply flex-row;

    a { @apply mb-0 }
    a:hover { @apply no-underline }
  }
}

.search-input-filter {
  @apply bg-grey-lighter w-full text-sm mt-4 px-5 py-4 rounded-full appearance-none outline-none
}

.majors {
  @apply w-full mt-4 text-center;

  thead {
    @apply bg-green-dark text-white;

    th {
      @apply font-semibold py-3 hidden;
    }

    th:first-child {
      @apply table-cell;
    }

    @screen md {
      th {
        display:table-cell;
      }
    }
  }

  tbody {
    td {
      @apply border py-3 px-2 hidden;
    }

    td:first-child {
      @apply table-cell text-left;
    }

    @screen md {
      td {
        display:table-cell;
      }
    }
  }
}

.semesters {
  @apply w-full flex flex-wrap mt-5 bg-green-darker;

  a {
    @apply py-4 w-1/4 bg-green text-center font-semibold mb-px text-white
  }

  a:hover {
    @apply bg-green-dark no-underline
  }
}

@screen md {
  .semesters {
    @apply flex-row flex-no-wrap;

    a {
      @apply flex-1 mb-0;
    }
  }
}

.schedule-scroller {
  width:100%;
  overflow-x:scroll;
}

@screen md {
  .schedule-scroller {
    overflow-x:initial;
  }
}

.schedule {
  min-width:700px;
  @apply w-full mt-4 text-center;

  thead {
    @apply bg-green-dark text-white;

    th {
      @apply font-semibold py-3 text-center;
    }
  }

  tbody {
    tr:nth-child(n+7):nth-child(-n+12){
      @apply bg-grey-lighter;
    }

    td {
      @apply border py-3 px-2;
    }
  }
}

.menu {
  .menu-title {
    @apply border-t-4 border-green-dark bg-grey-lighter font-semibold text-green-darker text-sm p-2 pb-6 uppercase;
  }

  a {
    @apply text-grey-darker
  }

  ul {
    @apply list-reset mb-8;

    a {
      @apply block p-2 border-b;
    }
  }
}

.content-admin {
  h2 {
    @apply text-xl;
  }

  h2:first-child {
    @apply border-t-4 border-green-dark bg-grey-lighter font-semibold text-green-darker p-2 pb-6 mb-5 uppercase;
  }

  td {
    vertical-align : middle!important;
  }

  // custom checkbox baseado em: https://codepen.io/Vestride/pen/dABHx
  .reserva [type="checkbox"] {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      width:30px;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 30px;
      height: 30px;
      background: white;
      @apply border-4;
    }

    // Box hover
    &:hover + label:before {

    }

    // Box checked
    &:checked + label:before {
      @apply bg-green-darker;
    }

    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 9px;
      top: 14px;
      background: white;
      width: 3px;
      height: 3px;
      box-shadow:
              2px 0 0 white,
              4px 0 0 white,
              4px -2px 0 white,
              4px -4px 0 white,
              4px -6px 0 white,
              4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}

// Correção dataTables
.dataTables_wrapper {
  height:auto;
  overflow-y: hidden;

  .table {
    @apply border;
  }

  @screen md {
    .table {
      @apply border-0
    }
  }

  .row:first-child, .row:last-child {
    @apply flex flex-col justify-between items-start;

    &> .col-sm-6, &> .col-sm-5, &> .col-sm-7 {
      @apply mb-3;
    }
  }

  tr > td:last-child {
    white-space: nowrap;
  }

  @screen md {
    .row:first-child, .row:last-child {
      @apply flex-row;
    }
  }
}

.table-responsive {
  border:0px;
}