/* Tailwind CSS */
@tailwind preflight;
@tailwind components;
@tailwind utilities;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body {
  color: #4e4e4e;
  font-family: "Open Sans", sans-serif;
}

a {
  @apply text-green-dark no-underline
}

a:hover {
  @apply text-green-darker underline
}

h1 {
  @apply text-2xl
}

h2 {
  @apply text-lg font-semibold
}

header {
  a {
    @apply text-white no-underline
  }
  .top-bar a {
    @apply no-underline text-grey-darkest font-semibold px-3 block py-2 mx-1;
    border-left: 1px solid config('colors.grey');
    border-right: 1px solid config('colors.grey');

    &:hover {
      @apply underline;
    }
  }

  .header-main {
    background-image: radial-gradient(circle at 50% 55%, config('colors.green-dark'), config('colors.green-darker'));
  }

  .search-input {
    @apply appearance-none rounded-full w-full py-4 px-4 tracking-tight text-grey-darker text-sm outline-none
  }

  .button-main-menu {
    @apply py-4 w-full bg-green text-center font-semibold mb-px flex items-center justify-center;

    i {
      @apply mr-3;
    }
    &:last-child {
      @apply mb-0;
    }
    &:hover {
      @apply no-underline text-white;
    }
  }

  @screen md {
    .button-main-menu {
      @apply bg-transparent
    }
    .button-main-menu:hover {
      @apply bg-green
    }
  }

  //@screen md {
  //  .search-input {
  //    @apply text-sm
  //    }
  //}
}

.container {
  @apply mx-auto
}

.categories {
  @apply flex flex-col mt-5 bg-green-darker;

  a {
    @apply py-4 w-full bg-green text-center font-semibold mb-px text-white
  }

  a:hover {
    @apply bg-green-dark underline
  }
}

@screen md {
  .categories {
    @apply flex-row;

    a { @apply mb-0 }
    a:hover { @apply no-underline }
  }
}

.search-input-filter {
  @apply bg-grey-lighter w-full text-sm mt-4 px-5 py-4 rounded-full appearance-none outline-none
}

.majors {
  @apply w-full mt-4 text-center;

  thead {
    @apply bg-green-dark text-white;

    th {
      @apply font-semibold py-3 hidden;
    }

    th:first-child {
      @apply table-cell;
    }

    @screen md {
      th {
        display:table-cell;
      }
    }
  }

  tbody {
    td {
      @apply border py-3 px-2 hidden;
    }

    td:first-child {
      @apply table-cell text-left;
    }

    @screen md {
      td {
        display:table-cell;
      }
    }
  }
}

.semesters {
  @apply w-full flex flex-wrap mt-5 bg-green-darker;

  a {
    @apply py-4 w-1/4 bg-green text-center font-semibold mb-px text-white
  }

  a:hover {
    @apply bg-green-dark no-underline
  }
}

@screen md {
  .semesters {
    @apply flex-row flex-no-wrap;

    a {
      @apply flex-1 mb-0;
    }
  }
}

.schedule-scroller {
  width:100%;
  overflow-x:scroll;
}

@screen md {
  .schedule-scroller {
    overflow-x:initial;
  }
}

.schedule {
  min-width:700px;
  @apply w-full mt-4 text-center;

  thead {
    @apply bg-green-dark text-white;

    th {
      @apply font-semibold py-3;
    }
  }

  tbody {
    td {
      @apply border py-3 px-2;
    }
  }
}

.menu {
  .menu-title {
    @apply border-t-4 border-green-dark bg-grey-lighter font-semibold text-green-darker text-sm p-2 pb-6 uppercase;
  }

  a {
    @apply text-grey-darker
  }

  ul {
    @apply list-reset mb-8;

    a {
      @apply block p-2 border-b;
    }
  }

}